
.btn {
  display: inline-block;
  padding: $s--100 $s--500;
  border: 2px solid $c--green--100;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  color: $c--green--100;
}

.btn--primary {
  background: linear-gradient(90deg, lighten($c--green--100, 5%) 0%, lighten($c--green--100, 5%) 50%, $c--green--100 50%, $c--green--100 100%);
  background-size: 200%;
  background-position: 100%;
  color: $c--white;
  transition: background-position .2s ease-out;

  &:hover {
    background-position: 0%;
  }
}
