
.btn {
  display: inline-block;
  padding: $s--100 $s--500;
  border: 2px solid $c--green--100;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  color: $c--green--100;
}

.btn--primary {
  background: $c--green--100;
  color: $c--white;
}
