
.img-link {
  position: relative;
  text-decoration: none;
  border-bottom: 0;

  @media (min-width: 64rem) {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;

    > * {
      grid-column: 2 / 5
    }
  }
}
