
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: $c--green--300;
  font-size: calc(40% + .75vw);
  text-transform: uppercase;
  letter-spacing: .25vw;
  color: $c--white;

  h1 {
    font-weight: 100;
    color: inherit;
  }
}

.char {
  display: inline-block;
  transform: scale(.75);
  opacity: 0;
}
