
.logo {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  height: 100vh;
  margin: 0 auto;

  svg {
    width: 100%;
    height: 100vh;
  }
}

// @media (orientation: portrait) {
//   .concept {
//     margin-top: -40vh;
//   }
// }
