.section {
  width: 100%;
}

.section--padded {
  padding: $s--800 0;
}

.section--alt {
  background: $c--green--300;
  color: $c--white;

  * {
    color: inherit;
  }
}

.approach {

  padding-bottom: 0;

  p {
    margin-bottom: $s--700;
  }

  @media (min-width: 64rem) {
    padding-bottom: 10vh;
  }
}

.section__header {
  margin-bottom: $s--600;
}

.section__title,
.section__subtitle {
  margin: 0;
  line-height: 1.2;
}

.section__subtitle {
  font-weight: 100;
}
