body {
  font-family: "effra", "Helvetica Neue", "Arial", sans-serif;
  font-size: calc(1rem + .5vw);
  font-weight: 100;
  line-height: 1.5;
  color: $c--black;
}

p {
  max-width: 60ch;
  font-weight: 100;
}

a {
  padding-bottom: 4px;
  color: $c--black;
  text-decoration: none;
  border-bottom: 1px solid lighten($c--green--300, 15%);
  transition: border-color .2s linear;

  &:hover {
    border-bottom-color: $c--green--100;
  }

  svg {
    vertical-align: middle;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  max-width: 60ch;
  font-weight: 700;
  hyphens: auto;
  color: $c--green--100;
}

h1, .h1 {
  font-size: 3.052em;
}

h2, .h2 {
  font-size: 2.441em;
}

h3, .h3 {
  font-size: 1.953em;
}

h4, .h4 {
  font-size: 1.563em;
}

h5, .h5 {
  font-size: 1.25em;
}

.first-letter::first-letter {
  float: left;
  font-size: 360%;
  font-weight: 100;
  line-height: 0.8;
  padding-right: 0.5rem;
}

.highlight {
  padding: 4px;
  background: darken($c--red--200, 15%);
  color: $c--white;
}

.highlight--alt {

  background: darken($c--green--300, 15%);
}

.tldr__items {
  margin: 0;
}

.tldr__title {
  font-weight: bold;
}

.tldr__desc {
  margin: 0 0 $s--500;
}

@media (min-width: 64rem) {
  hyphens: none;
}
