

$c--white: #fff;
$c--black: #1A1D19;

$c--green--100: #343633;
$c--green--200: #50524F;
$c--green--300: #89958C;
$c--green--400: #779E82;

$c--blue--400: #79BCD9;

$c--primary: var($c--green--400);
