

$c--white: #fff;
$c--black: #1A1D19;

$c--green--100: #343633;
$c--green--200: #50524F;
$c--green--300: #89958C;
$c--green--400: #779E82;

$c--blue--400: #79BCD9;

$c--red--200: #D7BCAE;

$c--primary: var($c--green--400);



$s--50: .25rem;
$s--100: .5rem;
$s--200: .75rem;
$s--300: 1rem;
$s--400: 1.5rem;
$s--500: 2rem;
$s--600: 3rem;
$s--700: 5rem;
$s--800: 8rem;
$s--900: 12rem;
