@import '_variables.scss';
@import '_reset.scss';
@import '_normalize.css';
@import '_typography.scss';
@import '_main.scss';
@import '_wrapper.scss';
@import '_section.scss';
@import '_intro.scss';
@import '_logo.scss';
@import '_switch.scss';
@import '_img-overlay.scss';
@import '_btn.scss';
@import '_quote.scss';
@import '_img-link.scss';
@import '_hoverlay.scss';
@import '_accommodation.scss';
@import '_presents.scss';
@import '_footer.scss';

body {
  background-color: $c--white;
  overflow-x: hidden;
}

figure {
  margin: 0;
}

.divider {
  max-width: 100%;
}

// h1,h2,h3,h4,h5,h6,hgroup,
// ul,ol,dd,
// p,figure,
// pre,table,fieldset,hr{
//     margin: 0 0 2rem;
// }
