---
layout: layouts/base.njk
title: Luft & Liebe
---
<header id="js-intro" class="intro">
  <h1 id="js-logo-claim" class="logo-claim">
    <span class="char">L</span>
    <span class="char">u</span>
    <span class="char">f</span>
    <span class="char">t&nbsp;</span>
    <span class="char">&&nbsp;</span>
    <span class="char">L</span>
    <span class="char">i</span>
    <span class="char">e</span>
    <span class="char">b</span>
    <span class="char">e</span>
  </h1>
  <div id="js-mountain--left" class="mountain">
    {% include "mountain.svg" %}
  </div>
  <div id="js-mountain--right" class="mountain mountain--large">
    {% include "mountain.svg" %}
  </div>
</header>
<main class="main">
  <section id="js-concept" class="concept section section--padded">
    <div class="wrapper--text">
      <div id="js-logo" class="logo">
        {% include "logo.svg" %}
      </div>
      <div class="main-act js-io enter appear--bottom">
        <time class="main-act__date" datetime="">
          {% include 'datum.svg' %}
        </time>
      </div>
      <p class="first-letter js-io enter appear--bottom">5 Tage ausgelassen feiern, hoch oben auf dem Vigiljoch. Eine Auszeit nehmen vom Trubel des Alltags, etwas Bergluft schnuppern und mit uns am Samstag unsere Liebe zelebrieren. (Fast) alle unter einem Dach, ganz unkompliziert locker flockig erwarten wir euch ab Donnerstag Nachmittag im Ferienheim Vigiljoch, denn wir feiern ein Fest(ival) und freuen uns, dass du dabei bist und vielleicht auch etwas beitragen möchtest.</p>
      <div class="registration enter appear--bottom">
        <a href="https://forms.gle/VCB9XgttZK9w6WWn7" target="_blank" class="btn btn--primary">Als Gast registrieren</a>
      </div>
    </div>
    <div class="wrapper--text section--padded js-io enter appear--bottom">
      {% include "divider.svg" %}
    </div>
    <div class="wrapper--text">
      <div class="section__header js-io enter appear--bottom">
        <h2 class="section__subtitle h5">TL;DR</h2>
        <div class="section__title h2">Die wichtigsten Infos</div>
      </div>
      <dl class="tldr__items">
        <dt class="tldr__title js-io enter appear--bottom">Zeitraum</dt>
        <dd class="tldr__desc js-io enter appear--bottom">Do, 25. bis Mo, 29. Juni 2020</dd>
        <dt class="tldr__title js-io enter appear--bottom">Freie Trauung</dt>
        <dd class="tldr__desc js-io enter appear--bottom">Sa. 27. Juni 2020</dd>
        <dt class="tldr__title js-io enter appear--bottom">Location</dt>
        <dd class="tldr__desc js-io enter appear--bottom"><a href="https://goo.gl/maps/oBqMdVD3QghJKt5g8" target="_blank">{% include "i--map.svg" %}&nbsp;Ferienheim Vigiljoch</a>, Südtirol, Italien auf knapp 1.800&nbsp;Höhenmetern(!)</dd>
        <dt class="tldr__title js-io enter appear--bottom">Anreise</dt>
        <dd class="tldr__desc js-io enter appear--bottom">Ihr müsst bis nach <a href="https://goo.gl/maps/bfXvknN99fhf5jwCA" target="_blank">{% include "i--map.svg" %}&nbsp;Lana</a>, dann mit der Schwebebahn den Berg hoch und mit dem Sessellift oder zu Fuß (ca. 50min) bis zum Ferienheim.</dd>
        <dt class="tldr__title js-io enter appear--bottom">Schlafen</dt>
        <dd class="tldr__desc js-io enter appear--bottom">Ganz spartanisch im Ferienheim oder komfortabel auf der <br><a href="https://goo.gl/maps/N3EmK4wzJ93VhkbDA" target="_blank">{%include "i--map.svg"%}&nbsp;Family&nbsp;Alm&nbsp;Gampl</a></dd>
        <dt class="tldr__title js-io enter appear--bottom">Nicht vergessen</dt>
        <dd class="tldr__desc js-io enter appear--bottom"><a href="https://forms.gle/VCB9XgttZK9w6WWn7" target="_blank">Registrieren!</a> Danke :)</dd>
      </dl>
    </div>
  </section>
  <section id="js-approach" class="approach section section--alt section--padded js-io">
    <div class="wrapper--text">
      <h2 class="js-io enter appear--bottom">Anfahrt nach Südtirol</h2>
      <p class="js-io enter appear--bottom">Wir sind uns bewusst, dass die Anreise nach Südtirol nicht die einfachste ist und wollen sie euch so angenehm wie möglich machen. Solltet ihr Schwierigkeiten haben um von A nach B zu kommen oder habt noch einen Platz im Auto frei, den ihr vergeben möchtet, dann gebt uns bitte Bescheid - wir finden für alles eine Lösung!</p>
    </div>
    <div class="img-overlay">
      <div class="img-overlay__img js-io enter appear--bottom">
        <img class="map map--is-visible" data-type="car" src="images/map--europe--car.jpg" alt="Eine handgezeichnete Landkarte Europas, die Autorouten nach Vigiljoch zeigt.">
        <img class="map" data-type="plane" src="images/map--europe--plane.jpg" alt="Eine handgezeichnete Landkarte Europas, die Flugrouten nach Vigiljoch zeigt.">
        <img class="map" data-type="train" src="images/map--europe--train.jpg" alt="Eine handgezeichnete Landkarte Europas, die Zugrouten nach Vigiljoch zeigt.">
      </div>
      <div class="img-overlay__overlay">
        <div class="switch js-io enter appear--bottom">
          <input type="radio" name="transport" id="switch__car" class="switch__input" checked>
          <label for="switch__car" class="switch__btn" data-type="car">{% include "i--car.svg" %}</label>

          <input type="radio" name="transport" id="switch__plane" class="switch__input">
          <label for="switch__plane" class="switch__btn" data-type="plane">{% include "i--plane.svg" %}</label>

          <input type="radio" name="transport" id="switch__train" class="switch__input">
          <label for="switch__train" class="switch__btn" data-type="train">{% include "i--train.svg" %}</label>
        </div>
        <div class="img-overlay__content img-overlay__content--is-visible" data-type="car">
          <h3 class="js-io enter appear--bottom">Mit dem Auto</h3>
          <ul>
            <li class="js-io enter appear--bottom">Bitte versucht Fahrgemeinschaften zu bilden</li>
            <li class="js-io enter appear--bottom">Kostenlose Parkmöglichkeiten an der Schwebeseilbahn in Lana</li>
          </ul>
          <a href="images/map--europe--car.jpg" class="btn btn--primary">Karte anzeigen</a>
        </div>
        <div class="img-overlay__content" data-type="plane">
          <h3 class="js-io enter appear--bottom">Mit dem Flugzeug</h3>
          <ul>
            <li class="js-io enter appear--bottom">Von Hamburg mit Ryanair nach Bergamo, Verona</li>
            <li class="js-io enter appear--bottom">Von Hamburg mit Lufthansa nach München</li>
            <li class="js-io enter appear--bottom">Von Berlin mit Ryanair nach Bergamo, München</li>
            <li class="js-io enter appear--bottom">Von Berlin mit Lufthansa nach München</li>
            <li class="js-io enter appear--bottom">Von Berlin mit easyjet nach Innsbruck, Malpensa</li>
            <li class="js-io enter appear--bottom">Von Wien mit Ryanair nach Bergamo</li>
            <li class="js-io enter appear--bottom">Von Wien mit Lufthansa nach Verona</li>
          </ul>
          <a href="images/map--europe--plane.jpg" class="btn btn--primary">Karte anzeigen</a>
        </div>
        <div class="img-overlay__content" data-type="train">
          <h3 class="js-io enter appear--bottom">Mit dem Zug</h3>
          <ul class="js-io enter appear--bottom">
            <li class="js-io enter appear--bottom">Mit ICE nach München</li>
            <li class="js-io enter appear--bottom">Von dort mit dem EC Richtung Bologna/Venezia/Verona bis nach Bozen</li>
          </ul>
          <a href="images/map--europe--train.jpg" class="btn btn--primary">Karte anzeigen</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="quote">
      <blockquote class="quote__text js-io enter appear--bottom">
        Die Liebe allein versteht das Geheimnis, andere zu beschenken und dabei selbst reich zu werden.
        <cite class="quote__author">
          &mdash; Clemens Brentano
        </cite>
      </blockquote>
    </div>
  </section>
  <section class="hike section section--padded">
    <div class="section__header wrapper--text js-io enter appear--bottom">
      <h2 class="section__subtitle h5">Der Weg zum Ferienheim</h2>
      <div class="section__title h2">Wo wir uns treffen</div>
    </div>
    <a class="img-link js-io enter appear--bottom" title="Bild öffnen" href="images/map--vigiljoch--anreise.jpg">
      <figure class="hoverlay">
        <img class="" src="images/map--vigiljoch--anreise.jpg" alt="Eine handgezeichnete Landkarte, die das Gebiet des Vigiljoch zeigt.">
        <div class="hoverlay__overlay">
          <div class="btn btn--primary">Vergrößern</div>
        </div>
      </figure>
    </a>
    <div class="wrapper--text js-io enter appear--bottom">
      <p>Jetzt wird es abenteuerlich! Euch erwartet eine kurze Fahrt mit der Schwebeseilbahn von 328 auf 1486 Höhenmetern. Danach entscheidet ihr selbst - entweder eine knapp einstündige Wanderung hoch zum Ferienheim oder etwas bequemer mit dem Sessellift und nur einem kleinen Fußmarsch von 15 Minuten. Belohnt werdet ihr bei beiden Varianten mit herrlichen Ausblicken auf 1747 Metern über dem Meeresspiegel.</p>
    </div>
  </section>
  <div class="wrapper--text js-io enter appear--bottom">
    {% include "divider.svg" %}
  </div>
  <section class="accommodation section--padded">
    <div class="section__header wrapper--text js-io enter appear--bottom">
      <h2 class="section__subtitle h5">Die Unterkünfte</h2>
      <div class="section__title h2">Wo ihr schlafen könnt</div>
    </div>
    <div class="ferienheim">
      <div class="accommodation__header accommodation__header--ferienheim wrapper--text js-io enter appear--bottom">
        <h3 class="accommodation__title">Ferienheim</h3>
        <h4 class="accommodation__subtitle h5">Bettenlager</h4>
      </div>
      <img class="ferienheim__img js-io enter appear--bottom" src="images/foto--ferienheim.jpg" alt="Ein Foto des Ferienheims in Vigiljoch.">
      <div class="ferienheim__text wrapper--text">
        <p class="js-io enter appear--bottom">Das Ferienheim bietet für einen Großteil der Gäste einen Platz zum schlafen. Die Zimmer verfügen über <span class="highlight highlight--alt">4-8 Betten</span> und <span class="highlight highlight--alt">Gemeinschaftsbädern</span> und Warmwasser. Wer dort schläft, ist dem Geschehen am nächsten, mit allen Vor- und Nachteilen ;) Leider finden hier nicht alle Gäste Platz, daher freuen wir uns über Freiwillige, die auf die Family Alm ausweichen. Danke!</p>
      </div>
    </div>
    <div class="gampl">
      <div class="accommodation__header accommodation__header--gampl wrapper--text">
        <h3 class="accommodation__title">Gampl Family Alm</h3>
        <h4 class="accommodation__subtitle h5">Apartments zum Relaxen</h4>
        <a href="https://www.wirtshaus.it/de/gampl/" target="_blank" class="accomodation__btn btn btn--primary">Zur Website</a>
      </div>
      <img class="gampl__img" src="images/foto--gampl.jpg" alt="Ein Foto der Gampl Family Alm.">
      <div class="gampl__detail-imgs">
        <img class="gampl__detail-img" src="images/foto--gampl-zimmer.jpg" alt="Schlafzimmer im Gampl.">
        <img class="gampl__detail-img" src="images/foto--gampl-wohnzimmer.jpg" alt="Wohnzimmer im Gampl.">
        <img class="gampl__detail-img" src="images/foto--gampl-bad.jpg" alt="Badezimmer im Gampl.">
      </div>
    </div>
    <div class="gampl__text section--alt section--padded">
      <div class="wrapper--text js-io enter appear--bottom">
        <p>Die in fünf Gehminuten zu erreichende Gampl Family Alm bietet <span class="highlight highlight--alt">7&nbsp;Apartments</span> für insgesamt ca. 30 Leute. Die Wohnungen haben 4-6 Betten (inkl. Schlafsofas), eine wahnsinnig tolle Aussicht und natürlich wesentlich mehr <span class="highlight highlight--alt">Privacy und Komfort</span> als das Ferienheim. Bitte versucht nicht selbst zu buchen sondern meldet euch bei uns. Wir haben alle verfügbaren Einheiten geblockt.</p>
      </div>
    </div>

    <div class="vigilius">
      <div class="accommodation__header accommodation__header--vigilius wrapper--text">
        <h3 class="accommodation__title">Vigilius Mountain Luxusresort</h3>
        <h4 class="accommodation__subtitle h5">Upper Class Lodging</h4>
        <a href="https://www.vigilius.it/de" target="_blank" class="accomodation__btn btn btn--primary">Zur Website</a>
      </div>
      <img class="vigilius__img" src="images/foto--vigilius.jpg" alt="Ein Foto des Vigilius Luxusresorts.">
    </div>

    <div class="wrapper--text js-io enter appear--bottom">
      <p>Etwa 50 Gehminuten entfernt gibt es noch eine weitere <span class="highlight">gehobene Übernachtungsmöglichkeit</span>. Das Hotel ist für seinen hohen Standard und dementsprechende Preise bekannt. Bitte bucht eigenständig und gebt uns einfach ein kurzes Update.</p>
    </div>
  </section>
  <div class="wrapper--text js-io enter appear--bottom">
    {% include "divider.svg" %}
  </div>
  <section class="more section--padded">
    <div class="section__header wrapper--text">
      <h2 class="section__subtitle h5 js-io enter appear--bottom">Was sind schon 5 Tage...</h2>
      <div class="section__title h2 js-io enter appear--bottom">Noch Urlaub übrig?</div>
    </div>
    <div class="wrapper--text js-io enter appear--bottom">
      <p>Wenn ihr außerdem noch rumreisen oder einfach länger in Südtirol bleiben möchtet, gebt uns Bescheid und wir geben euch weitere Tipps zu Übernachtungsmöglichkeiten und Aktivitäten.</p>
    </div>
  </section>
  <section class="volunteering section section--alt section--padded">
    <div class="wrapper--text">
      <h2 class="js-io enter appear--bottom">Volunteering</h2>
      <h3 class="js-io enter appear--bottom">Artist Registration</h3>
      <p class="js-io enter appear--bottom">Du hast Bock unser Festival <span class="highlight highlight--alt">künstlerisch</span> zu unterstützen? Ob auflegen, eigenes Instrument, deine Stimme oder mit Theater, Yoga oder oder oder... Wir freuen uns, wenn du dich einbringen willst. Hier sind deiner Fantasie keine Grenzen gesetzt, es muss nicht das Thema Hochzeit tragen, es soll nur dir und der Kolonie Spaß bringen!</p>
      <p class="js-io enter appear--bottom"><span class="highlight highlight--alt">Achtung:</span> solltest du irgend eine Einlage planen, von der wir nichts wissen sollen, dann wende dich bitte an das Luft & Liebe Team (<a href="mailto:anne-marie.wassmuth@gmx.de">Anni</a>, <a href="mailto:christian@naegele.it">Chris</a>, <a href="mailto:naeflo@hotmail.com">Flo</a>).</p>
      <div class="registration js-io enter appear--bottom">
        <a href="https://forms.gle/vZNJUtvGt85ghkeW8" target="_blank" class="btn btn--primary">Als Artist registrieren</a>
      </div>
      <h3 class="registration js-io enter appear--bottom">Support Workshops</h3>
      <p class="registration js-io enter appear--bottom">Du hast Lust an den Tagen vor dem Hauptakt tatkräftig anzupacken? Es gibt sicher noch einiges zu tun und wir können <span class="highlight highlight--alt">jede helfende Hand</span> brauchen, sei es beim Aufbau, in der Küche oder beim Feuer und Stockbrot machen.</p>
    </div>
  </section>
  <section class="presents section section--padded">
    <div class="video-container">
      <video class="video js-io" data-src="images/video2.mp4" autoplay loop playsinline>
      </video>
    </div>
    <div class="wrapper--text">
      <h2 class="js-io enter appear--bottom">Geschenke</h2>
      <p class="js-io enter appear--bottom">Unser größtes Geschenk ist es, dass du den Weg auf dich nimmst und dabei bist. Wenn du trotzdem etwas schenken magst, dann freuen wir uns über eine Spende für unseren anstehenden <span class="highlight">Road&nbsp;Trip</span>.</p>
      <p class="js-io enter appear--bottom">Und solltet ihr doch etwas ganz anderes schenken wollen, dann meldet euch einfach beim Luft & Liebe Team (<a href="mailto:anne-marie.wassmuth@gmx.de">Anni</a>, <a href="mailto:christian@naegele.it">Chris</a>, <a href="mailto:naeflo@hotmail.com">Flo</a>).</p>
    </div>
  </section>
  <div class="wrapper--text js-io enter appear--bottom">
    {% include "divider.svg" %}
  </div>
  <section class="activities section section--padded">
    <div class="wrapper--text">
      <h2 class="js-io enter appear--bottom">Freizeitaktivitäten</h2>
      <p class="js-io enter appear--bottom">Es gibt zahlreiche wunderschöne Wanderwege, mal leichter, mal etwas schwieriger direkt vor der Haustür des Ferienheims. Also pack deine <span class="highlight">Wanderschuhe</span> und etwas Proviant ein, mach dich auf die Socken und erkunde die Natur!</p>
      <p class="js-io enter appear--bottom">Für genügend <span class="highlight">Spiele</span>, ob drinnen oder draußen, ist gesorgt - lass dich einfach überraschen!</p>
    </div>
  </section>
  <div class="wrapper--text js-io enter appear--bottom">
    {% include "divider.svg" %}
  </div>
  <section class="photo section section--padded">
    <div class="wrapper--text">
      <h2 class="js-io enter appear--bottom">Fotografieren</h2>
      <p class="js-io enter appear--bottom">Wir möchten euch bitten zur freien Trauung eure <span class="highlight highlight--alt">Handys und Kameras wegzupacken</span> und den Moment der Zeremonie voll und ganz zu genießen. Während des ganzen Tages werden sich <span class="highlight highlight--alt">professionelle Fotografen</span> um die Bilder kümmern, die wir gerne mit euch teilen werden.</p>
      <h2 class="js-io enter appear--bottom">Filmen</h2>
      <p class="js-io enter appear--bottom">Wir würden gerne nach dem Event einen kurzen Film schneiden. Daher bitten wir alle, die eine <span class="highlight">GoPro</span> oder ähnliches Gerät besitzen, während der Tage <span class="highlight">(außer zur Trauung)</span> fleißig zu filmen. Wir sammeln dann das Rohmaterial und machen was schönes draus, das wir dann wieder mit euch teilen :)</p>
    </div>
  </section>
</main>
<footer class="footer section--padded">
  <div class="wrapper--text">
    <div class="copy">
      &copy; {{ page.date.getUTCFullYear() }} Luft & Liebe
      <div class="contact">
        <a href="mailto:luftundliebe@posteo.de" class="contact__link">luftundliebe@posteo.de</a>
      </div>
    </div>
    <div class="oiiiio">OIIIIO</div>
  </div>
</footer>
<noscript>
  <style media="screen">
    .no-js .appear--bottom {
      opacity: 1;
      transform: none;
    }
  </style>
</noscript>
